/* src/components/Navbar.css */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #005f73;
    padding: 10px 20px;
}





.navbar-menu {
    list-style: none;
    display: flex;
    gap: 20px;
}

.navbar-menu li {
    position: relative;
}

.navbar-menu a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #028090;
    padding: 10px;
    list-style: none;
}

.navbar-menu li:hover .submenu {
    display: block;
}

.submenu li {
    margin: 5px 0;
}
